#intro{
    position: absolute;
    top:50%;
    left:50%;
    height:38px;
    width:auto;
    transform:  translate(-50%, -50%);
    animation-duration: 1.3s;
    animation-name: movein;
    font-size: 2em;
}

#introHousing{
    display: inline-block;
    position:relative;
    width:100%;
    height:100%;
}

img{
    display:inline-block;
}

.Landing{
    position: relative;
}

.logoDivs{
    max-width: 368px;
    display: inline-block !important;
}

#psLogo{
    height:200px;
}

#reactLogo{
    height:100px;
    width:100px;
    position:absolute;
    left:25vw;
    top:10%;
    animation-duration: 3s;
    animation-name: reactSlidein;
}

#nodeLogo{
    height:55px;
    width:196px;
    position:absolute;
    left:2vw;
    top:50%;
    animation-duration: 3s;
    animation-name: nodeSlidein;
}

#jsLogo{
    height:125px;
    width:110px;
    position:absolute;
    left:25vw;
    top:75%;
    animation-duration: 3s;
    animation-name: jsSlidein;
}

#psLogo{
    height:125px;
    width:125px;
    position: absolute;
    right:25vw;
    top:10%;
    animation-duration: 3s;
    animation-name: psSlidein;
}

#angularLogo{
    height:auto;
    width:200px;
    position: absolute;
    right:2vw;
    top:50%;
    animation-duration: 3s;
    animation-name: angularSlidein;
}

#cssLogo{
    height: auto;
    width: 125px;
    position: absolute;
    right:25vw;
    top:75%;
    animation-duration: 3s;
    animation-name: cssSlidein;
}

@keyframes movein {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }


@keyframes reactSlidein {
    from{
        width:0px;
        height:0px;
    }

    to{
        width:100px;
        height:100px;
    }
}

@keyframes nodeSlidein {
    from{
        width:0px;
        height:0px;
    }

    to{
        width:196px;
        height:55px;
    }
}

@keyframes jsSlidein {
    from{
        width:0px;
        height:0px;
    }

    to{
        width:110px;
        height:125px;
   
    }
}

@keyframes psSlidein {
    from{
        width:0px;
        height:0px;
    }

    to{
        width:125px;
        height:125px;
    }
}

@keyframes angularSlidein {
    from{
        width:0px;
        height:0px;
    }

    to{
        width:200px;
        height:55px;
    }
}

@keyframes cssSlidein {
    from{
        width:0px;
        height:0px;
    }

    to{
        width:125px;
        height:125px;
    }
}

@media only screen and (max-width:480px){
    #intro{
        font-size: 15px;
    }

    @keyframes angularSlidein{
        from{
            width:0px;
            height:0px;
        }  
        to{
            width:110px;
            height:30px;
        }
    }

    @keyframes cssSlidein{
        from{
            width:0px;
            height:0px;
        }  
        to{
            height:50px;
            width:50px;
        }
    }

    @keyframes jsSlidein{
        from{
            width:0px;
            height:0px;
        }  
        to{
            height:40px;
            width:39px;
            transform: translate(0, 10px);
        }
    }

    @keyframes nodeSlidein{
        from{
            width:0px;
            height:0px;
        }  
        to{
            width:110px;
            height:31px;
        }
    }

    @keyframes reactSlidein{
        from{
            width:0px;
            height:0px;
        }  
        to{
            height:45px;
            width:45px;
        }
    }

    @keyframes psSlidein{
        from{
            width:0px;
            height:0px;
        }  
        to{
            height:60px;
            width:60px;
        }
    }

    #jsLogo{
        height:40px;
        width: 39px;
        left:15vw;
        top:66%;
        transform: translate(0, 10px);
    }

    #cssLogo{
        height:50px;
        width: 50px;
        right:15vw;
        top: 66%;
    }

    #nodeLogo{
        width:110px;
        height:31px;
        left:50%;
        transform: translate(-50% ,0);
        top:83%;
        margin:0;
    }

    #reactLogo{
        height:45px;
        width: 45px;
        left: 15vw;
        top: 25%;
    }

    #psLogo{
        height:60px;
        width:60px;
        right: 15vw;
        top:25%;
    }

    #angularLogo{
        height:30px;
        width:110px;
        right:50%;
        transform: translate(50% ,0);
        top:10%;
    }
}
