#intro, #sub{
    font-family: 'Cairo', sans-serif;
    font-size: 2em;
}

@media only screen and (max-width:400px){

    .Landing{
        padding:2%;
    }

    #intro{
        font-size: 1em;
        margin-bottom: 7vh;
    }

}

@media only screen and (min-width:401px) and (max-width:640px){

    .Landing{
        padding:2%;
    }

    #intro{
        font-size: 1.2em;
        margin-bottom: 7vh;
    }

}

@media only screen and (min-width:641px) and (max-width:900px){
    #intro{
        font-size: 1.8em;
        margin-bottom: 7vh;
    }

}

@media only screen and (min-width:901px){
    #intro{
        font-family: 'Cinzel', serif;
        font-family: 'Quicksand', sans-serif;
        font-size: 30px;
        margin-bottom: 7vh;
        animation-duration: 1.6s;
        animation-name: slidein;
    }

    @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%;
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      }


}