

.Contact{
    margin-top: 0;
    font-family: 'Cairo', sans-serif;
}

.area{
    border:1px solid black;
    margin-left:20vw;
    margin-right:20vw;
    margin-top:2vh;
}

a{
    color: #333333;
}



@media only screen and (min-width:320px) and (max-width:640px){
    
    .Contact{
        font-size: 0.8em;
    }

}

@media only screen and (min-width:641px) and (max-width:1025px){

    .Contact{
        font-size: 1.0em;
    }

}

@media only screen and (min-width:1025px){

    .Contact{
        font-size: 1.3em;
    }
}