*{
    box-sizing: border-box;
}

body{
    height:100vh;
    overflow: hidden;
}

main{
    height:100vh;
    display:grid;
    grid-template-columns: 15% 85%;
}

header{
    height:100%;
    grid-column: 1;
    position: relative;
}


h3{
    font-family: 'Cinzel', serif;
    font-family: 'Quicksand', sans-serif;
    color:rgba(255,255,255,0.7);
}

h2{
    margin:0;
}

.navLinks{
    height:100vh;
    display:flex;

    flex-direction: column;
    animation-duration: 3s;
    animation-name:fadein;

    @keyframes fadein{
        from{
            opacity: 0%;
        }
        to{
            opacity:100%;
        }
    }

    >div{
        height:25%;
        position: relative;

        a{
            text-decoration: none;
            position: absolute;
            top:50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
}

.routeWindow{
  width:100% !important;

    section{
        position: relative;
    
        height:100vh;
        margin:0;
        width: 100%;
    }
}


@media only screen and (max-width:400px){
    h3{
        font-size: 0.7em;
    }
}


@media only screen and (min-width:401px) and (max-width:640px){
    p{
        padding:0;
    }

    h3{
        font-size: 1em;
    }

    .navLinks{
        justify-content: space-around;
    }

    .borderedLink{
        border-left: 1px solid black;
        border-right:1px solid black;
        width:20vw;
    }
}


@media only screen and (min-width:641px) and (max-width:900px){
    .navLinks{
        justify-content:space-around;
    }

    .borderedLink{
        border-left: 1px solid black;
        border-right:1px solid black;
        width:20vw;
    }

    h3{
        width:20vw;
    }
}

@media only screen and (min-width:901px){

    h3{
        font-size: 1.5em;
    }

    .routeWindow{
        section{
            position: relative;
            // top:-30px;
            height:100%;
        }
    }
}