
.ProjectContainer{
    display:flex;
    flex-direction: column;
    font-family: 'Cairo', sans-serif;
    justify-content: center;
    align-items: center;
    width:100%;

    h2{
        font-family: 'Cinzel', serif;
        font-family: 'Quicksand', sans-serif;
    }
}

.description{
    margin-top:1vh;
    margin-bottom: 3vh;
    font-family: 'Cinzel', serif;
    font-family: 'Quicksand', sans-serif;
}

.project_tech{
    margin-top:1vh;
}

.project_linkLive{
    margin-top: 1vh;;
}

a{
    font-size: 1.5em;
}

@media only screen and (min-width:300px) and (max-width:410px){
    .ProjectContainer{
        margin-right: 0;
        height:70vh;
        margin-bottom: 10vh;
    }

    .projectImage{
        width:83vw;
    }

    .project{
        font-size: 0.9em;
    }

    a{
        font-size: 1em;
    }

    img{
        max-height: 34vh;
        max-width: 83vw;
        margin-left:auto;
        margin-right:auto;
    }

}

@media only screen and (min-width:411px) and (max-width:640px){

    .ProjectContainer{
        margin-right: 0;
        height:70vh;
        margin-bottom: 10vh;
    }

    .projectImage{
        width:83vw;
    }

    .project{
        font-size: 0.9em;
    }

    a{
        font-size: 1em;
    }

    img{
        max-height: 34vh;
        max-width: 83vw;
        margin-left:auto;
        margin-right:auto;
    }
}



@media only screen and (min-width:641px) and (max-width:800px){

    .ProjectContainer{
        margin-right: 0;
        height:70vh;
        margin-bottom: 10vh;
    }

    .projectImage{
        width:83vw;
    }

    .project{
        font-size: 0.9em;
    }

    a{
        font-size: 1em;
    }

    img{
        max-height: 34vh;
        max-width: 83vw;
        margin-left:auto;
        margin-right:auto;
    }

}

@media only screen and (min-width:801px) and (max-width:1030px){
    .ProjectContainer{
        margin-right: 0;
        height:70vh;
        margin-bottom: 10vh;
     }

    .projectImage{
        width:83vw;
    }

    .project{
        font-size: 0.9em;
    }

    a{
        font-size: 1em;
    }

    img{
        max-height: 34vh;
        max-width: 83vw;
        margin-left:auto;
        margin-right:auto;
    }

}

@media only screen and (min-width:1031px){

    a{
        font-size: 1em;
    }

    img{
        max-height: 34vh;
        max-width: 83vw;
        margin-left:auto;
        margin-right: auto;
    }

    .projects{
        display:flex;
        justify-content: center;
    }

}