
.Projects{
    display:flex;
    height:50vh;

}

.projectImage{
    position: relative; 
    width:35vw;
    height:42.4vh;
}

.projectText{
    position:relative;
    left:15%;
    top:8%;
    border:1px solid black;
    width:20vw;
    height:40vh;
}


.ProjectsContainer{
    display:flex;
    overflow: auto;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    height:76vh;
    margin-top:3vh;
}

@media only screen and (min-width:300px) and (max-width:400px){
    
    .ProjectsContainer{
        width:100%;
        display:flex;
        justify-content: center;
        height:85vh;
        margin-top:2vh;
    }

    .Projects{
        flex-direction: column;
        width:100%;
        height:74vh;
    }

    .projectImage{
        display:flex;
        justify-content: space-around;
    }
}

@media only screen and (min-width:401px) and (max-width:725px){
    .ProjectsContainer{
        width:100%;
        display:flex;
        justify-content: center;
        height:85vh;
        margin-top:2vh;
    }

    .Projects{
        flex-direction: column;
        width:100%;
        height:74vh;
    }

    .projectImage{
        display:flex;
        justify-content: space-around;
    }

}

@media only screen and (min-width:725px) and (max-width:900px){
    .ProjectsContainer{
        width:85vw;
        display:flex;
        justify-content: center;
        height:85vh;
        margin-top:2vh;
    }

    .Projects{
        flex-direction: column;
        width:100%;
        height:74vh;
    }

    .projectImage{
        display:flex;
        justify-content: space-around;
    }

}

@media only screen and (min-width:900px){
    .ProjectsContainer{
        width:90vw;
        height:70vh;
        margin-left:auto;
        margin-right:auto;
        padding:0;
    }

    .Projects{
        height:62vh;
    }
}